:root {
  --poem-font: "Estonia", cursive;
  --paragraph-font: "Libre Baskerville", serif;
  --coffee-black: rgba(34, 23, 0, 1);
  --coffee-dark: rgba(118, 80, 0, 1);
  --coffee-bright: rgba(226, 153, 1, 1);
  --coffee-white: rgba(255, 254, 251, 1);

  /* setup colour schemes and font families for pages */
}

body {
  margin: 0;

  /* cancel auto layout margins */
}

html {
  scroll-behavior: smooth;

  /* ^ set scroll in-page to smooth */
  font-size: 62.5%;

  /* ^ set 1rem to 10px */
}

.home {
  background:
    linear-gradient(
      180deg,
      rgba(226, 153, 1, 1),
      rgba(255, 254, 251, 1),
      rgba(118, 80, 0, 1)
    );

  /* setup background gradient */
}

/* intro poem */
.ipoem {
  font-family: var(--poem-font);
  color: var(--coffee-black);
  display: flex;
  justify-content: center;

  /* setup flex display and font for intro poem */
}

.ipoem__txt {
  font-size: 2rem;
  line-height: 1.8rem;
  animation: ipoem-load 4000ms ease-in 200ms;

  /* ^ poem animation settings */
  opacity: 0;
  animation-fill-mode: forwards;

  /* poem text settings */
}

.ipoem__md {
  font-size: 2.6rem;

  /* middle poem font size */
}

.ipoem__lg {
  font-size: 3rem;

  /* large poem font size */
}

.ipoem__th {
  font-size: 3.4rem;

  /* quotations size */
}

.ipoem__itl {
  font-style: italic;

  /* poem name italics */
}

@keyframes ipoem-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

  /* poem animation keyframes */
}

/* intro poem */

/* nav bar */
.navbar {
  font-family: var(--paragraph-font);
  font-style: normal;

  /* background: radial-gradient(
    rgba(255, 254, 251, 1) 32%,
    rgba(255, 254, 251, 0) 64%
  ); */
  z-index: 2;
  background:
    linear-gradient(
      rgba(255, 254, 251, 0),
      rgba(255, 254, 251, 0.8),
      30%,
      rgba(255, 254, 251, 1),
      rgba(255, 254, 251, 0.8) 80%,
      rgba(255, 254, 251, 0)
    );
  display: flex;
  padding: 4rem;
  justify-content: center;
  position: sticky;
  top: 0;

  /* ^ nav bar settings */
}

.navbar__pri {
  color: var(--coffee-white);
  text-decoration: none;
  background-color: var(--coffee-black);
  font-size: 2rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 50%;
  border: var(--coffee-black) solid;
  margin-right: 4%;

  /* ^ nav bar primary button settings */
  animation: nav-bar-load 2000ms ease-out 2000ms;
  opacity: 0%;
  scale: 0;
  animation-fill-mode: forwards;

  /* ^ nav bar primary button animation settings */
}

.navbar__pri:hover {
  background-color: var(--coffee-dark);

  /* nav bar primary button hover settings */
}

.navbar__pri:active {
  color: var(--coffee-black);
  background-color: var(--coffee-bright);
  border: var(--coffee-bright) solid;

  /* nav bar primary button active settings */
}

.navbar__sec {
  color: var(--coffee-black);
  font-size: 1.8rem;
  text-decoration: none;
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border: var(--coffee-black) solid;
  border-radius: 50%;

  /* ^ nav bar secondary button settings */
  animation: nav-bar-load 2000ms ease-out 2000ms;
  opacity: 0%;
  scale: 0;
  animation-fill-mode: forwards;

  /* ^ nav bar secondary button animation settings */
}

.navbar__sec:hover {
  background-color: var(--coffee-bright);

  /* nav bar secondary button hover settings */
}

.navbar__sec:active {
  color: var(--coffee-white);
  background-color: var(--coffee-dark);
  border: var(--coffee-bright) solid;

  /* nav bar secondary button active settings */
}

@keyframes nav-bar-load {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 100;
    transform: scale(1);
  }

  /* ^ nav bar buttons animation keyframes */
}

/* nav bar */

/* intro section */
.isec {
  font-family: var(--paragraph-font);
  color: var(--coffee-black);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* general settings for the intro section */
}

@media (min-width: 768px) {
  .isec {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 200%;
  }
}

.isec__1 {
  font-size: 120%;
  margin-right: 8%;
  padding-bottom: 2%;

  /* specific settings for line 1 */
}

.isec__2 {
  margin-left: 4%;
  padding-bottom: 0.4%;

  /* specific settings for line 2 */
}

.isec__3 {
  font-size: 160%;
  margin-left: 20%;
  margin-top: -0.2%;

  /* specific settings for line 3 */
}

.isec__4 {
  margin-right: 22.8%;
  margin-bottom: -2.8%;

  /* specific settings for line 4 */
}

.isec__5 {
  transform: scale(0.4);
}

.isec__6 {
  margin-left: 36%;

  /* specific settings for line 6 */
}

.isec__7 {
  font-size: 128%;
  margin-top: 6.8%;
  margin-bottom: 10%;

  /* specific settings for line 7 */
}

.isec__8 {
  margin-left: 14%;

  /* specific settings for line 8 */
}

.isec__9 {
  margin-left: 56%;

  /* specific settings for line 9 */
}

.isec__10 {
  margin-left: 68%;
}

/* intro section */

/* about me section */
.isec__11__a {
  margin-top: 4%;
  margin-left: 6%;
  transform: rotate(-6deg);
}

.isec__11 {
  margin-right: 68%;

  /* specific settings for line 11 */
}

.isec__12 {
  margin-right: 24%;
  margin-top: 1%;

  /* specific settings for line 12 */
}

.isec__12__b {
  font-size: 120%;

  /* specific settings for 2nd section of line 12 */
}

.isec__13 {
  font-size: 140%;
  margin-top: -0.2%;

  /* specific settings for line 13 */
}

.isec__14 {
  margin-left: -20%;

  /* specific settings for line 14 */
}

.isec__16 {
  position: relative;
  font-size: 180%;
  margin-top: 8%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  /* specific settings for line 16 */
}

.isec__16__a {
  color: transparent;
  position: absolute;
  content: "";
  background-color: var(--coffee-black);
  height: 0.2rem;
  bottom: -0.8rem;

  /* specific settings for line 16 */
}

.isec__16__b {
  font-size: 200%;
  position: absolute;
  color: transparent;
  margin-left: 40%;
  margin-top: 20%;
  border-left: dashed var(--coffee-black) 0.6rem;
}

.isec__17 {
  margin-top: 30rem;
  font-size: 160%;
  font-style: italic;

  /* specific settings for line 17 */
}

.isec__18 {
  margin-left: 26%;
  margin-top: -2%;

  /* specific settings for line 18 */
}

.isec__19 {
  font-size: 140%;
  margin-left: 60%;

  /* specific settings for line 19 */
}

.isec__20 {
  font-size: 180%;

  /* specific settings for line 20 */
}

/* about me section */

/* footer */
.form {
  display: flex;
  padding-bottom: 10%;
  justify-content: center;
}

.form__detail {
  position: relative;
  width: 40%;
}

.form__detail ::placeholder {
  color: var(--coffee-dark);
}

.form input {
  background-color: var(--coffee-white);
  margin: 2%;
  appearance: none;
  font-style: italic;
  outline: none;
  border: none;
  padding: 1rem;
  font-family: var(--paragraph-font);
  border-radius: 2rem;
  cursor: pointer;
}

.form input:hover {
  border: var(--coffee-bright) 0.4rem solid;
  padding: 0.6rem;
}

.form__detail__name {
  width: 48%;
}

.form__detail__email {
  width: 60%;
}

.form__detail__mes {
  width: 100%;
  height: 60%;
}

.form__detail__but {
  color: var(--coffee-white);
  text-decoration: none;
  font-family: var(--paragraph-font);
  background-color: var(--coffee-black);
  font-size: 2rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 50%;
  border: var(--coffee-black) solid;
  margin-left: 44%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.form__detail__but:hover {
  background-color: var(--coffee-dark);

  /* footer primary button hover settings */
}

.form__detail__but:active {
  color: var(--coffee-black);
  background-color: var(--coffee-bright);
  border: var(--coffee-bright) solid;

  /* footer primary button active settings */
}

/* footer */

/* animation */
.hide {
  opacity: 0;
  transform: translateY(1rem);
  transition: all 3000ms ease-in-out;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.inanimate {
  transform: translateY(1rem) scale(0.4);
  fill: transparent;
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 3000ms ease-in-out 1000ms;
}

.animate {
  transform: translateY(0) scale(0.48);
  stroke-dashoffset: 0;
  fill: var(--coffee-black);
}

.beau {
  transform: translateY(1rem);
  transition: all 3000ms ease-in-out 1000ms;
}

.beauty {
  transform: translateY(0);
}

.beau path:nth-child(1) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out;
}

.beauty path:nth-child(1) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(2) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 400ms;
}

.beauty path:nth-child(2) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(3) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 800ms;
}

.beauty path:nth-child(3) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(4) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 1200ms;
}

.beauty path:nth-child(4) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(5) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 1600ms;
}

.beauty path:nth-child(5) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(6) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 2000ms;
}

.beauty path:nth-child(6) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(7) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 2400ms;
}

.beauty path:nth-child(7) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(8) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 2800ms;
}

.beauty path:nth-child(8) {
  stroke-dashoffset: 0;
}

.beau path:nth-child(9) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 4000ms ease-in-out 3200ms;
}

.beauty path:nth-child(9) {
  stroke-dashoffset: 0;
}

.circ {
  transform: translateY(1rem);
  opacity: 0;
  transition: all 4000ms ease-in-out;
}

.circle {
  opacity: 1;
  transform: translateY(0);
}

.circ circle {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: all 2000ms 2000ms;
}

.circle circle {
  stroke-dasharray: 0;
}

.line {
  opacity: 0;
  transition: all 4000ms ease-in-out;
}

.inline {
  opacity: 1;
}

.line path:nth-child(1) {
  stroke-dasharray: 20rem;
  stroke-dashoffset: 20rem;
  transition: linear 2000ms 1000ms;
}

.inline path:nth-child(1) {
  stroke-dasharray: 0;
}

.isec__15 {
  margin-top: 2%;
  margin-left: 4%;
  transform: scale(0.6);
}

.under {
  width: 0;
  opacity: 0;
  transition: linear 2000ms 1000ms;
}

.underscore {
  opacity: 1;
  width: 100%;
}

.dot {
  padding-top: 0.1rem;
  opacity: 0;
  transition: all 2000ms ease-in-out 1000ms;
}

.dotted {
  opacity: 1;
  padding-top: 16rem;
}

/* animation */
